.map {
    height: 500px;
    width: 600px;
    background-color: burlywood;
    margin: 0 auto;
}
.container {
    display: flex;
}
.iframeMap {
    height: 500px;
    width: 600px;
    background-color: burlywood;
    margin: 0 auto;
}
